@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Roboto+Mono:wght@300&display=swap');

// SIZES
$website-width: 1920px;
$website-height: 1400px;
$content-max-width: 1700px;
$header-height: 120px;
$font-size-sm: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 3rem;
$font-size-text: 1.5rem;
$mono-font: 'Roboto Mono', monospace;
$serif-font:'Inter', sans-serif;

// COLORS
$dark-clr:#131313;
$red-clr: #ff2e34;
$white-clr: #fff;
$grey-clr:rgb(160, 157, 157);
$scrollbar-color:#181818;
