@use '../utils/variables' as *;


.about {
   height: 100vh;
   padding: 2rem;
   display: flex;
   flex-direction: column;
   place-content: center;
   place-items: center;


   &__text {
      max-width: 37.5em;
      margin-right: 5em;
   }

   &__title {
      font-family: $mono-font;
      padding-bottom: 2rem;
      font-size: 2em;
      color: $red-clr;
      place-self: center;
      min-width: 1080px;

      &::after {
         content: "";
         display: block;
         position: relative;
         top: -23px;
         right: -360px;
         width: 150px;
         height: 1px;
         margin-left: 20px;
         background-color: white;
      }
   }

   &__container {
      display: inherit;

   }

   &__paragraph {
      font-size: $font-size-text;
      font-weight: 400;
      color:$grey-clr;
      margin-bottom: 1rem;
   }

   &__company {
      color: $red-clr;
   }

   &__photo {
      z-index: -1;
      img {
         width: 400px;
         height: 400px;
         clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
         border: 3px solid $red-clr;

      }      
   }
}

@media(max-width: 1150px) {
   .about {
      margin-top: 3rem;
      padding-top: 5rem;
      height: 100%;
      min-height: 80vh;

      &__title {
         min-width: 600px;
      }

      &__container {
         flex-direction: column;
         align-items: center;
      }
      &__text {
         margin:0 0 2em 0;
      }

   }
}

@media(max-width: 700px) {
   .about {
      height: 100%;

      &__text {
         margin-top: 2rem;
      }

      &__title {
         min-width: 0;
         padding: 0;
         font-size: 1.5rem;
         color: $red-clr;
            &::after {
               display: none;
         }
         display: flex;
         place-content: center;
         border-bottom: 1px $white-clr solid;
      }



      &__paragraph {
         font-size: 1.1rem;
         font-weight: 400;
         color:$grey-clr;
         margin-bottom: 1rem;
      }

      &__photo {
         img {
            width: 250px;
            height: 250px;
         }      
      }
   }
}

            
