@use '../utils/variables' as *;

.contact {
   height: 100vh;
   padding: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: $white-clr;

   &__container {
      width: 750px;
      height: 500px;  
      margin-inline: 2rem;
      display: inherit;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      color: $red-clr;
      font-size: 2rem;
      font-family: $mono-font;
      transform: translateY(-40px);

      &::after {
         content: "";
         display: block;
         position: relative;
         top: -23px;
         right: -300px;
         width: 150px;
         height: 1px;
         margin-left: 20px;
         background-color: white;
      }

      &::before {
         content: "";
         display: block;
         position: relative;
         top: 26px;
         right: 205px;
         width: 150px;
         height: 1px;
         margin-left: 20px;
         background-color: white;
      }
   }

   &__form {
      display: flex;
      justify-content: center;

      label {
         font-size: 1.5rem;
      }

      form {
         border-left: 2px $red-clr solid;
         padding-left: 1rem;
      }

      &__text__input {
         margin-bottom: 1rem;
         padding-left: 0.5rem;
         height: 50px;
         width: 750px;
         font-size: 1.2rem;
         font-family: $serif-font;
         font-weight: 900;
      }

      &__textarea__input {
         margin-bottom: 1rem;
         padding: 0.5rem ;
         width: 750px;
         height: 150px;
         font-size: 1.2rem;
         font-family: $serif-font;
         font-weight: 900;
      }
   }
}

@media (max-width: 900px) {
   .contact {
      height: 100%;
      min-height: 80vh;

      &__title {
         &::before {
            display: none;
         }

         &::after {
            display: none;
         }

         border-bottom: 1px $white-clr solid;

      }

      &__container {
         width: 500px;
      }
      
      &__form {
         &__text__input {
            width: 500px;
         }
         &__textarea__input {
            width: 500px;
         }
      }
   }
   
}
@media (max-width: 650px) {
   .contact {

      &__container {
         width: 350px;
      }

      &__title {
         font-size: 1.5rem;
         &::after {
            display: none
         }
      }

      &__form {
         &__text__input {
            height: 2rem;
            width: 300px;
         }
         &__textarea__input {
            width: 300px;
         }
         label {
            font-size: 1rem;
         }
      }
   }
}