@use '../utils/variables' as *;

.intro {
   position: absolute;
   color: $white-clr;
   z-index: 20;
   width: 100vw;
   left: 0;
   height: 100vh;
   background-color: black;
   animation: intro 3s forwards; 
   animation-delay: 3s;
   display: grid;
   place-content: center;

     @keyframes intro {
        from {
           top:0;
        }

        to {
           top:-100vh;

        }
     }

   &__box__one {
      position: absolute; 
      top: 0;
      bottom: 0;
      left: 0; 
      right: 0; 
      margin: auto;
      width: 15rem;
      height: 15rem;
      border: 2px $red-clr solid;
      animation-name: box1;
      animation-duration: 3s;
      animation-fill-mode: forwards;
   }

   @keyframes box1 {
      0% {

      }

      50% {
         transform: rotate(180deg);
      }

      100% {
         border-radius: 50%;
         transform: rotate(180deg);

      }
   }

   &__box__two {
      position: absolute; 
      top: 0;
      bottom: 0;
      left: 0; 
      right: 0; 
      margin: auto;
      width: 15rem;
      height: 15rem;
      border: 2px $red-clr solid;
      animation-name: box2;
      animation-duration: 3s;
      animation-fill-mode: forwards;
   }

   @keyframes box2 {
      0% {

      }

      50% {
         transform: rotate(-180deg);
      }

      100% {
         border-radius: 50%;
         transform: rotate(-180deg);

      }
   }

   &__icon {
      font-size: 10rem;
      animation-name: wolf;
      animation-duration: 5s;
      animation-fill-mode: forwards;
   }

   @keyframes wolf {
      0% {
         opacity: 0%;
      }

      100% {
         opacity: 100%;
         transform: scale(1.1);
      }
   }   
}



