@use '../utils/variables' as *;

.navbar {
   overflow: hidden;
   width: 100%;
   height: 20vh;
   max-height: $header-height;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 10;
   
   &__container {
      padding-inline: 2rem;
      max-width: $content-max-width;
      position: fixed;
      display: inherit;
      width: inherit;
      justify-content: space-between;
      align-items: center;
   }

   .visible {
       top: 25px;
       transition: transform 350ms;
    }
    .notvisible {
       transform: translateY(-300%);
       transition: transform 350ms;
    }

   &__icon {
      align-self: center;
      font-size: 4rem;
   }

   &__menu__icon {
      all: unset;
      cursor: pointer;
      color: white;
      font-size: 3rem;
   }

   &__menu {
      display: inherit;
      gap: 3.5rem;

      &__icon {
         display: none;
      }      
      
   }


   @media (max-width: 50em) {
      &__menu {
         flex-direction: column;
         position: fixed;
         inset: 0 0 0 30%;
         background-color: $dark-clr;
         place-content: center;
         transform: translateX(100%);
         transition: transform 350ms;


         &__item {
            align-self: center;
         }

         &__icon {
            display: block;
            position: relative;
            z-index: 5;
         }
      }

      &__menu[data-visible='true'] {
         transform: translateX(0);
      }
      &__menu[data-visible='false'] {
         transform: translateX(100%);
      }

   }

   &__menu__link {
      font-family: $mono-font;
      font-size: $font-size-md;
      color: $red-clr;
      font-weight: 600;
      transition: color 500ms;
      position: relative;

      &:hover {
         color: $white-clr;
      }

   }
   
   &__menu__link::before {
      content: '';
      display: block;
      height: 0%;
      width: 100%;
      background-color: white;
      top: -60px;
      position: absolute;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
   }

   &__menu__link:hover::before {
      height: 60px;
   }
}


